App_WebReferences/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60387/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60387/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60387/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RequestGrant_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestGrant" />
  </wsdl:message>
  <wsdl:message name="IService_RequestGrant_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestGrantResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetGrant_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGrant" />
  </wsdl:message>
  <wsdl:message name="IService_GetGrant_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGrantResponse" />
  </wsdl:message>
  <wsdl:message name="IService_Donate_InputMessage">
    <wsdl:part name="parameters" element="tns:Donate" />
  </wsdl:message>
  <wsdl:message name="IService_Donate_OutputMessage">
    <wsdl:part name="parameters" element="tns:DonateResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDonation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDonation" />
  </wsdl:message>
  <wsdl:message name="IService_GetDonation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDonationResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Login" message="tns:IService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/LoginResponse" message="tns:IService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Register" message="tns:IService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RegisterResponse" message="tns:IService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestGrant">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RequestGrant" message="tns:IService_RequestGrant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RequestGrantResponse" message="tns:IService_RequestGrant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGrant">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetGrant" message="tns:IService_GetGrant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetGrantResponse" message="tns:IService_GetGrant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Donate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Donate" message="tns:IService_Donate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DonateResponse" message="tns:IService_Donate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDonation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDonation" message="tns:IService_GetDonation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDonationResponse" message="tns:IService_GetDonation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IService/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestGrant">
      <soap:operation soapAction="http://tempuri.org/IService/RequestGrant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGrant">
      <soap:operation soapAction="http://tempuri.org/IService/GetGrant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Donate">
      <soap:operation soapAction="http://tempuri.org/IService/Donate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDonation">
      <soap:operation soapAction="http://tempuri.org/IService/GetDonation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:60387/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>